<!doctype html>
<html>
<head>
    <title>Users List</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <h1>List of Users</h1>
    <ul>
        <% users.forEach(function(user) { %>
            <li>
                User ID: <%= user.id %>, Username: <%= user.username %>,
                Name: <%= user.firstName %> <%= user.lastName %>, 
                Email: <%= user.email %>
            </li>
        <% }); %>
    </ul>
</body>
</html>
